.service-item {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  margin: 15px 0;
  box-shadow: 0 0 12px #F4F4F4;
  transition: all 0.3s ease-in-out 0s;

  .icon {
    border: 1px solid #0084f4;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 28px;
      color: #0084f4;
      line-height: 70px;
    }

    img {
      width: 30px;
      color: #0084f4;
      line-height: 70px;
      transition: all 0.3s ease-in-out 0s;
    }
  }

  .service-content h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #585b60;
  }
}
